.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  z-index: 1;
}

.task_input_form {
  width: 80vw;
  padding: 5vh 2vw;
  /* display: flex;
  position: relative;
  align-items: center; */
}

.task_input {
  border-radius: 50px 0px 0px 50px;
  padding: 1vh 2vw;
  outline: none;
  border: none;
  background-color: whitesmoke;
  transition: 0.2s;
}

.task_input:focus {
  background-color: aliceblue;
}

.task_button {
  border-radius: 0px 50px 50px 0px;
  padding: 1vh 2vw;
  border: none;
  font-weight: bolder;
  background-color: royalblue;
  color: whitesmoke;
  transition: 0.2s all;
}

.task_button:hover {
  background-color: darkgoldenrod;
}

.task_button:active {
  transform: scale(0.8);
}

.task_list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 90vw;

}

.container {
  display: flex;
  width: 95vw;
  justify-content: space-between;
  align-items: flex-start;
}

.todo {
  height: 70vh;
  background-color: coral;
  padding: 10px;
  width: 47%;
}

.complete {
  background-color: darkseagreen;
  height: 70vh;
  padding: 10px;
  width: 47%;
}

.task_card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:blanchedalmond;
  width: 30vw;
  padding: 2vh 3vw;
  border-radius: 10px;
  margin: 1vh 2vw 2vh 2vw;
  transition: 0.2s;
}

.task_card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px black;
}

.taskcard_text {
  flex: 1;
  border: none;
  text-align: left;
}

.icon {
  margin: 0 10px;
  cursor: pointer;
}

.dragactive {
  background-color: orangered;
}

.dragremove {
  background-color: lime;
}

@media (max-width: 800px) {
  .task_card {
    width: 90%;
  }

  .task_list {
    width: 95%;
  }

  .task_input_form {
    width: 95%;
  }

  .task_input {
    width: 70%;
  }

  .container {
    flex-direction: column;
  }
  .todo, .complete {
    width: 95%;
    height: fit-content;
  }
}
