.App {
  text-align: center;
}

.heading {
  text-align: center;
  text-transform: uppercase;
}

.task_input_form {

}

.task_input {

}

.task_button {

}

.task_list {

}

.task_card {

}

.taskcard_text {

}

.icon {

}
